body {
  margin: 0;
  overflow-x:hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 1vw;
  height:0;
}

/* Track */
::-webkit-scrollbar-track {
  background:rgb(240, 240, 240);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(36, 36, 36); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e; 
}
